@charset "UTF-8";

header {
	background-color: #FFFF99;
	height: 110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

body {
	margin: 0;
	
}

.body{
	background-color:red !important;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid;
	text-align: center;
	font-size: 1em;
}

.sumtable {
	margin: 10px auto 0;
	width: 450px;
}

.sumtable>th {
	width: 300px;
}

.title {
	margin: 0 auto 0;
	padding-top: 30px;
	text-align: center;
}

.login {
	margin-left: 10px;
}

.toptime {
	text-align: center;
}



.goworkbutton {
	height: 50px;
	width: 80px;
}

.leavingworkbutton {
	height: 50px;
	width: 80px;
}

.workbutton {
	text-align: center;
	padding-top: 5px;
}

.workbutton>input {
	margin: 0 15px;
}

.timedisplay {
	display: flex;
	justify-content: center;
}

.timedisplay>p {
	margin: 0 25px;
}

.monthbutton {
	display: flex;
	justify-content: space-between;
	margin: 0 80px 0;
}

.monthbutton>input {
	width: 50px;
	height: 30px;
}

.datatable {
	width: 90%;
	margin: 10px auto 0;
}

.application {
	margin: 30px auto 20px;
	text-align: center;
}

.application button {
	margin: 10px auto 0;
}

.editbutton {
	padding: 20px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.editbutton button {
	width: 80px;
	height: 50px;
}

.back {
	padding: 20px;
	margin-left: 30px;
	display: flex;
	width: 80px;
	height: 30px;
}
.hyou > td{
	width:90px
}
footer > p{
	margin:0;
	padding:2;
}
footer{
	margin:0;
}